# Dependencies
/vendor
/node_modules
npm-debug.log

# Environment Variables
.env

# OS & Editor Files
.DS_Store
.idea
.vscode
*.log

# Build Files
/dist

# WordPress
/wp-content/uploads

/assets/build/